.error_message {
   
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #FF6060;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    
} 

 .number_error {
    font-size: 288px;
    font-weight: 700;
}

.error_text {
    font-size: 36px;
    font-weight: 500;
} 

.back {
    
    position: absolute;
    bottom: 0;
    color: #FF6060;
}