.collapse {
    height: 47px;
    
    //background-color: green;
    background-color: #FF6060;
    border-radius: 5px;
    cursor: pointer;
    //margin-bottom: 200px;
    margin-bottom: 100px;
    color: #FF6060;

    @media screen and (max-width: 768px) {
        margin-bottom: 190px;
    }
}


.collapse_close {
    height: 47px;
    background-color: #FF6060;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    //display: flex;
}

.collapse_titre {
    justify-content: space-between;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding-top: 10px ;
    padding-left: 10px;
    //align-items: center;
    //display: flex;
    //justify-items: center;
}

.collapse_text {
    height: auto;
    background-color: #F6F6F6;
    height: auto;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;

   // @media screen and (max-width: 768px) {
   //     height: 190px; 
   // }

    

    
}

.chevron {
    align-items: flex-end;
    position: absolute;
    right: 10px;
    //top: 25px;
    top: 50%;
    
}

.up {
    width: 16px;
    height: 10px;
}