.logo {
    width: 210px;
    height: 68px;
    margin-top: 57px;
    /* background-color: blue; */

    @media screen and (max-width: 500px)
    {
        width: 38%;
        height: auto;
        
    } 
}

.hearder_marge {
    margin-left: 5%;
    margin-right: 5%;
}

.header {
    display: flex;
    //background-color: yellow;
    justify-content: space-between;
    align-items: center;
    //justify-content: center;
    width: 100%;
   
    

     nav {
        position: relative;
        font-weight: normal;
        margin-top: 57px;
        //padding-left: 1328px;
        //padding-left: 80%;
        font-size: 24px;
        //width: 270px;
        height: 34px;
        color: red;
        //margin-right: 0px;

        @media screen and (max-width: 533px) 
        {
            font-size: 20px;
        }

          .link {
            color: red;
            //background-color: green;
            margin-left: 20px;
            //display: flex-end ;
            text-decoration: none;

            &:hover {
                border-bottom: 1px solid #FF6060;
            }
            
            @media screen and (max-width: 530px) 
            {
                margin-left: 10px;
            }
        }  
    }
 
}



