.footer {
    background-color: black;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 209px;
    margin-top: 150px;
}

.logo_footer {
    height: 50px;
}

.reserved {
    color: white;

}